/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Built gems
*.gem

# Local bundler config
/.bundle
Gemfile.lock

# Editor / OS noise
.DS_Store
*.swp
.idea/
.vscode/
